*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.btnLigar{
    background-color: #058605;
    color: #FFF;
    width: 100px;
	padding: 10px;
	border: none;
	cursor: pointer;
}

.btnDesligar{
    background-color: #FF0000;
    color: #FFF;
    width: 100px;
	padding: 10px;
	border: none;
	cursor: pointer;
}