:root{
    --base-color: #1E90FF;
    --success-color: #05E43D;
    --cancel-color: #FF4500;
    --neutral-color: #FFFFFF;
}

.title {
    display: flex;
    justify-content: center;
    color: var(--base-color);
}

.title-question {
    font-weight: 600;
    color: var(--base-color);
}

.buttons {
    width: 200px;
}

.animation-2s {
    animation: bounceIn;
    animation-duration: 2s;
}

#btn-question-chat {
    background-color: var(--neutral-color);
    color: var(--success-color);
    font-weight: 600;
    border:solid 1px;
}

#btn-question-chat:hover {
    background-color: var(--success-color);
    color: var(--neutral-color);
    font-weight: 600;
    border:solid 1px;
}

#btn-reset-chat {
    background-color: var(--neutral-color);
    color: var(--cancel-color);
    font-weight: 600;
    border:solid 1px;
}

#btn-reset-chat:hover {
    background-color: var(--cancel-color);
    color: var(--neutral-color);
    font-weight: 600;
    border:solid 1px;
}